<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.huiyi.mapper.MeetingFolderMapper">

    <resultMap type="com.ruoyi.huiyi.domain.MeetingFolder" id="MeetingFolderResult">
        <id     property="folderId"      column="folder_id"    />
        <result property="folderName"    column="folder_name"  />
        <result property="remark"        column="remark"       />
        <result property="createBy"      column="create_by"    />
        <result property="createTime"    column="create_time"  />
        <result property="updateBy"      column="update_by"    />
        <result property="updateTime"    column="update_time"  />
        <result property="meetingCount"  column="meeting_count"/>
    </resultMap>

    <sql id="selectMeetingFolderVo">
        select f.folder_id, f.folder_name, f.remark, f.create_by, f.create_time, f.update_by, f.update_time,
        (select count(1) from huiyi_meeting_folder_rel r
        inner join huiyi_meeting m on m.meeting_id = r.meeting_id
        where r.folder_id = f.folder_id and m.del_flag = '0' and m.is_merged = '0') as meeting_count
        from huiyi_folder f
    </sql>

    <select id="selectMeetingFolderById" parameterType="Long" resultMap="MeetingFolderResult">
        <include refid="selectMeetingFolderVo"/>
        where f.folder_id = #{folderId} and f.del_flag = '0'
    </select>

    <select id="selectMeetingFolderList" parameterType="com.ruoyi.huiyi.domain.MeetingFolder" resultMap="MeetingFolderResult">
        <include refid="selectMeetingFolderVo"/>
        <where>
            f.del_flag = '0'
            <if test="folderName != null and folderName != ''">
                and f.folder_name like concat('%', #{folderName}, '%')
            </if>
            <if test="createBy != null and createBy != ''">
                and f.create_by = #{createBy}
            </if>
        </where>
        order by f.create_time desc
    </select>

    <insert id="insertMeetingFolder" parameterType="com.ruoyi.huiyi.domain.MeetingFolder" useGeneratedKeys="true" keyProperty="folderId">
        insert into huiyi_folder (folder_name, remark, create_by, create_time)
        values (#{folderName}, #{remark}, #{createBy}, sysdate())
    </insert>

    <update id="updateMeetingFolder" parameterType="com.ruoyi.huiyi.domain.MeetingFolder">
        update huiyi_folder
        <set>
            <if test="folderName != null">folder_name = #{folderName},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where folder_id = #{folderId}
    </update>

    <update id="deleteMeetingFolderById" parameterType="Long">
        update huiyi_folder set del_flag = '2' where folder_id = #{folderId}
    </update>

    <update id="deleteMeetingFolderByIds" parameterType="Long">
        update huiyi_folder set del_flag = '2' where folder_id in
        <foreach collection="array" item="folderId" open="(" separator="," close=")">
            #{folderId}
        </foreach>
    </update>

</mapper>